-a= Service.where(car_id: @job.car_id)
-if(@job.repair_job)
  =link_to 'в ремонт', new_repair_url(car_id: @job.car_id, job_id: @job.id ), :class => 'a_baton'
-elsif(@job.to)
  - a.each do |er|
    =link_to 'в техническое обслуживание', edit_service_path(er.id), :class => 'a_baton'
-else
  .text
    Километров пройдено
    %p=@job.km_n
    Мото часов
    %p=@job.m_ch

= link_to 'Редактировать', edit_job_path(@job) unless @job.to or @job.repair
= link_to 'назад', jobs_path unless @job.to or @job.repair
