
%br
  =link_to 'в ремонт', new_repair_path, :class => 'a_baton'  if @job.repair

%br
  =link_to 'в техническое обслуживание', new_service_path, :class => 'a_baton' if @job.to

= @job.km_n

= @job.m_ch

%p.lead

  = link_to 'Edit', edit_job_path(@job)
  = link_to 'Back', jobs_path
