<h1>Список деталей</h1>

<table class="table table-bordered">
  <tr>
    <th>Машинка</th>
    <th>Страховая компания</th>
    <th>Наиминование</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @details.each do |detail| %>




      <tr>
        <td><%= detail.jod_id%></td>
        <td><%= detail.jobs.last.id %></td>


      </tr>
  <% end %>
</table>

<br/>
<div class="form-actions">
  <button type="submit" class="btn btn-primary">Сохранить</button>
  <button type="button" class="btn">Отменить</button>
</div>


