<h1>Listing details</h1>

<table>
  <tr>
    <th>Car</th>
    <th>Warranty</th>
    <th>Наиминование</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @details.each do |detail| %>
      <%detail.jobs.each do |tim| %>
      <tr>
        <td><%= tim.km_n%></td>
        <td><%= tim.id%></td>
        <td><%= detail.jobs.last.id   %></td>

      <% end %>
      </tr>
  <% end %>
</table>
           <% @tile.each do |tile|%>
    <%= tile.name %>
    <% end %>
<br />
<div class="form-actions">
  <button type="submit" class="btn btn-primary">Сохранить</button>
  <button type="button" class="btn">Отменить</button>
</div>


